@model EventEditVM
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/AdminArea/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Default form</h4>
                <p class="card-description">
                    Create Blog Form
                </p>
                <form method="post" class="forms-sample" enctype="multipart/form-data">
                    <div class="form-group">
                        <label asp-for="Name"></label>
                        <input asp-for="Name" class="form-control" placeholder="Name">
                        <span class="text-danger" asp-validation-for="Name"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EventDateTime"></label>
                        <input asp-for="EventDateTime" class="form-control" placeholder="EventDateTime">
                        <span class="text-danger" asp-validation-for="EventDateTime"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="StartTime"></label>
                        <input asp-for="StartTime" class="form-control" placeholder="StartTime">
                        <span class="text-danger" asp-validation-for="StartTime"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EndTime"></label>
                        <input asp-for="EndTime" class="form-control" placeholder="EndTime">
                        <span class="text-danger" asp-validation-for="EndTime"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EventDesc"></label>
                        <input asp-for="EventDesc" class="form-control" placeholder="EventDesc">
                        <span class="text-danger" asp-validation-for="EventDesc"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Venue"></label>
                        <input asp-for="Venue" class="form-control" placeholder="Venue">
                        <span class="text-danger" asp-validation-for="Venue"></span>
                    </div>


                    <h2>Speakers:</h2>
                    <div class="form-group" enctype="multipart/form-data">
                        <label asp-for="SpeakerId"></label>
                        <select asp-for="SpeakerId" class="form-select" asp-items="@ViewBag.Speakers" aria-label="Default select example">
                        </select>
                        <span class="text-danger" asp-validation-for="SpeakerId"></span>
                    </div>
                    <h2>Exist speakers:</h2>
                    <div class="form-group" enctype="multipart/form-data">
                        <label asp-for="ExistSpeakerId"></label>
                        <select asp-for="ExistSpeakerId" class="form-select" asp-items="@ViewBag.ExistSpeakers" aria-label="Default select example">
                        </select>
                        <span class="text-danger" asp-validation-for="ExistSpeakerId"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Image"></label>
                        <input asp-for="Image" class="form-control" placeholder="Photos">
                        <span class="text-danger" asp-validation-for="Image"></span>
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <a asp-action="index" class="btn btn-dark">Return Back</a>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Html.Partial("_ValidationPartial")
}
